<html layout:decorator="layout">
<div layout:fragment="content">
    <form method="post" name="new_form" id="new_form" th:action="${formAction}" role="form">
      <input type="SUBMIT" class="frmEdit" NAME="frmEdit" th:VALUE="'Add New ' +${businessEntity}"></input>
    </form>
    <table class="table table-striped" id="entities_list">
        <thead>
        <tr>
            <th th:text="${businessEntity}"/>
            <th>Action</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="instance : ${instances}">
          <td class="instance" data-th-text="${instance}"></td>
          <td>
		    <form method="post" name="new_form" id="new_form" th:action="${deleteFormAction}" role="form">
		      <input type="HIDDEN" class="EntityId" th:NAME="${entityId}" th:VALUE="${instance.id}" />
		      <button type="SUBMIT" class="frmDelete" NAME="frmDelete" th:VALUE="'Delete ' +${businessEntity}">
		         <span class="fa-stack">
		             <i class="glyphicon glyphicon-trash"></i>
		         </span>
		     </button>
            </form>                    
          </td>
          <td>
            <form method="post" name="edit_form" id="edit_form" th:action="${formAction}" role="form">
		      <input type="HIDDEN" class="EntityID" th:NAME="${entityId}" th:VALUE="${instance.id}" />
		      <button type="SUBMIT" class="frmEdit" NAME="frmEdit" VALUE="View/Edit">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>
             </button>
	        </form>                    
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>
